:root {
    --blur: ;
    --blur-shadow-small: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    --body-font-family: "SFPro-Medium", Helvetica;
    --body-font-size: 17px;
    --body-font-style: normal;
    --body-font-weight: 500;
    --body-letter-spacing: 0px;
    --body-line-height: 22px;
    --colorsblack: rgba(0, 0, 0, 1);
    --controlsidle: rgba(255, 255, 255, 0.07);
    --controlsselected: rgba(255, 255, 255, 1);
    --labelsprimary-dark: rgba(255, 255, 255, 1);
    --textprimary: rgba(255, 255, 255, 0.96);
    --textsecondary: rgba(255, 255, 255, 0.23);
    --viewsrecessed-material-view: rgba(0, 0, 0, 0.1);
    --windowsglass: rgba(128, 128, 128, 0.3);
}
